
    :root {
  --primary-color: #c8102e;
  --bg-color: #eefeee;
  --text-color: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

main, header, footer {
    margin: 0 auto;
     width: 100%;
}

.me {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    height: 80px;
}


    picture img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }


.bird {
  display: none;
}

 h2 {
    padding-top: 20px;
    text-align: center;
 }

h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: var(--primary-color);
  margin: 10px auto 0;
}
   

ul {
    padding-top: 6px;
    list-style: none;
    text-align: center;
    font-size: 18px;
    
}

li {
    padding: 10px;

}

.card {
    background-color: white;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    
}

.card-weather {
    background-color: white;
    
}

.weather img {
    margin-bottom: 2px;
     width: 50px;
     margin-left: 11rem;
}

.card-weather p {
    background-color: white;
    padding-top: 6px;
    list-style: none;
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;
}

    footer {
        background-color: #c8102e;
        padding: 20px 30px;
        align-items: center;  
        color: white;
        margin: 0 auto;
        margin-top: 10px;
}