@media (min-width: 40em) {

main, header, footer {
    margin: 0 auto;
    max-width: 850px;
}

.me {
    background-color: #c8102e;
    color: white;
    text-align: center;
    height: 50%;
}

img {
    width: 850px;
}


header {
    padding: 20px 0;
    width: 100%;
    align-items: center;  
    color: white;
    background-color: #c8102e;
    margin: 0 auto;
    margin-top: 10px;
}

.card h2 {
    background-color: green;
    padding-top: 20px;
    text-align: center;

}

main{
    position: relative;
}

.card {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    width: 280px;
    margin-left: 10px;    
    bottom: 50px;
}

.card h2{
    width: 190px;
    margin-top: 5px;

}

.card-weather p {
    text-align: center;
    font-size: 18px;
}

.card-weather h2::after {
    content: "⛅";
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 10px;
   
  }


.card-weather h2{
    position: relative;
    width: 210px;
    margin-top: 5px;
    background-color: green;
    padding-top: 20px;
    text-align: center;

}

.card-weather {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 40px;
    width: 280px;
    margin-left: 500px; 
    bottom: 10px;  

}

.weather h2 {
position: relative;
}

.weather img {
    display: none;
}


.me {
    background-color: #c8102e;
}

.bird {
    position: relative;
    height: 500px;
    display: block;
}

 picture {
    display: none;
  }

footer {
  background-color: #c8102e;
  text-align: center;
}
  
}