

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

h1{
    text-align: center;
    padding-bottom: 50px;
    font-weight: 400;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #3c0a64;
    color: white;
    margin: 0 auto;
    padding: auto;
}

header, main, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
}

nav a:hover {
        border: 2px solid #ffffff;
    }

header nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 1rem;
    display: flex;
    text-align: center;
}


main { 
  max-width: 800px;
  margin: 0 auto;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

#menu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  background-color: #eee;
  color: #000;
}

#menu::before {
  content: "≡";
}

.temple-images {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

figure {
  margin: 0;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

figcaption {
  margin-top: 0.5rem;
  color: purple;
  font-size: 0.9rem;
}

footer {
    text-align: center;
    padding: 20px 0;
    width: 100%;
    align-items: center;  
    color: white;
    background-color: #1d4d72;
    margin: 0 auto;
    margin-top: 10px;
}
